<div>


</div>

<script>

console.log("Bienvenid@ al programa para la gestión de alumnos");
console.log("Introduzca las notas de los alumnos");

var notasDeAlumnos = new Array();

var keepdoing = true;

while(keepdoing)
{

    
}

</script>