// Javascript
<div>


</div>

<script>

console.log("Benvinguts al programa per a la gestió d'alumnes");
console.log("Introdueixi les notes dels alumnes");

var notasAlumnes= new Array();

var keepdoing = true;

while(keepdoing)
{

    
}

</script>