// Javascript
<div>


</div>

<script>

console.log("Benvinguts al programa per a la gestió d'alumnes");
console.log("Introdueixi les notes dels alumnes");




// 1 fica 10 notes en comptes de  5
var notasAlumnes= new Array();

notasAlumnes.push(4.6);
notasAlumnes.push(2.3);
notasAlumnes.push(6);
notasAlumnes.push(3.9);
notasAlumnes.push(8.5);

// 2 ajustar la mitjana
var suma = notasDeAlumnos[0] +
            notasDeAlumnos[1] +
            notasDeAlumnos[2] +
            notasDeAlumnos[3] +
            notasDeAlumnos[4];

var mitjana = suma / notasAlumnes.Length;
console.log("la mitjana es " + mitjana);

// 3 extreure la nota més alta del array i ensenyar-la en pantalla

// 4 extreure la nota més baixa del array i ensenyar-la en pantalla

</script>