<div>


</div>

<script>

console.log("Bienvenid@ al programa para gestión de alumnos");
console.log("Introduzca las notas de los alumnos");




// 1 meter 10 notas en vez 5
var notasDeAlumnos = new Array();

notasDeAlumnos.push(4.6);
notasDeAlumnos.push(2.3);
notasDeAlumnos.push(6);
notasDeAlumnos.push(3.9);
notasDeAlumnos.push(8.5);

// 2 ajustar la media
var suma = notasDeAlumnos[0] +
            notasDeAlumnos[1] +
            notasDeAlumnos[2] +
            notasDeAlumnos[3] +
            notasDeAlumnos[4];

var media = suma / notasDeAlumnos.Length;
console.log("la media es " + media);

// 3 extraer la nota más alta del array y enseñarla en pantalla

// 4 extraer la nota más baja del array y enseñarña en pantalla

</script>