<div>


</div>

<script>

console.log("Benvinguts al programa per a la gestió d'alumnes");
console.log("Introdueix les notes dels alumnes");




// 1 introdueix 10 notes en comptes de  5
var notesAlumnes = new Array();

notesAlumnes.push(4.6);
notesAlumnes.push(2.3);
notesAlumnes.push(6);
notesAlumnes.push(3.9);
notesAlumnes.push(8.5);
notesAlumnes.push(3.6);
notesAlumnes.push(2.6);
notesAlumnes.push(2);
notesAlumnes.push(3.9);
notesAlumnes.push(5.5);

// 2 ajustar la mitja
var suma = notesAlumnes[0] +
                        notesAlumnes[1] +
                        notesAlumnes[2] +
                        notesAlumnes[3] +
                        notesAlumnes[4] +
                        notesAlumnes[5] +
                        notesAlumnes[6] +
                        notesAlumnes[7] +
                        notesAlumnes[8] +
                        notesAlumnes[9];

var mitja = suma / notesAlumnes.Length;
console.log("la mitja és " + mitja);

// 3 extreure la nota més alta del array i ensenyar-la en pantalla
var max = notesAlumnes[0];

if (notesAlumnes[1] > max)
    max = notesAlumnes[1];

if (notesAlumnes[2] > max)
    max = notesAlumnes[2];

if (notesAlumnes[3] > max)
    max = notesAlumnes[3];

if (notesAlumnes[4] > max)
    max = notesAlumnes[4];

if (notesAlumnes[5] > max)
    max = notesAlumnes[5];

if (notesAlumnes[6] > max)
    max = notesAlumnes[6];

if (notesAlumnes[7] > max)
    max = notesAlumnes[7];

if (notesAlumnes[8] > max)
    max = notesAlumnes[8];

if (notesAlumnes[9] > max)
    max = notesAlumnes[9];


console.log("el valor màxim és " + max);

// 4 extreure la nota més baixa del array i ensenyar-la en pantalla
var min = notesAlumnes[0];

if (notesAlumnes[1] < min)
    min = notesAlumnes[1];

if (notesAlumnes[2] < min)
    min = notesAlumnes[2];

if (notesAlumnes[3] < min)
    min = notesAlumnes[3];

if (notesAlumnes[4] < min)
    min = notesAlumnes[4];

if (notesAlumnes[5] < min)
    min = notesAlumnes[5];

if (notesAlumnes[6] < min)
    min = notesAlumnes[6];

if (notesAlumnes[7] < min)
    min = notesAlumnes[7];

if (notesAlumnes[8] < min)
    min = notesAlumnes[8];

if (notesAlumnes[9] < min)
    min = notesAlumnes[9];


console.log("el valor mínim és " + min);
</script>